.section {
    margin-top: 100px;
}
.container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
  }

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    zoom: 1
}

html {
    font-size: 16px;
    min-height: 100%
}

body {
    
    font: 75%/150% "Lato", Arial, Helvetica, sans-serif;
    background-color: #fff;
    color: #838383;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -ms-overflow-style: scrollbar;
    oveflow-y: scroll
}

img {
    border: 0;
}

a {
    text-decoration: none;
    color: inherit
}

a:hover,
a:focus {
    color: #01b7f2;
    text-decoration: none
}

a:focus {
    outline: none
}

p {
    font-size: 1.0833em;
    line-height: 1.6666;
    margin-bottom: 15px
}

dt {
    font-weight: normal
}



h4 {
    font-size: 1.3333em;
    line-height: 1.25em;
    margin: 0 0 15px;
    font-weight: normal;
}

.btn-section{
    align-items: center;
    text-align: center;
}
.page-btn{
  border: 1px solid #fff;
  padding: 0.7em;
  border-radius: 5em;
  
}
.page-btn:hover{
  background: cornsilk;
}
ul {
    list-style: none;
    margin: 0
}

.banner .med-caption {
    font-size: 2.5em
}

.box-title {
    margin-bottom: 0;
    line-height: 1em;
    text-align: left;
    min-height: 50px;
    
}

button,
a.button {
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 0 15px;
    white-space: nowrap
}

button.btn-small,
input[type="button"].button.btn-small,
a.button.btn-small {
    height: 28px;
    padding: 0 24px;
    line-height: 28px;
    font-size: 0.9167em
}

a.button {
    display: inline-block;
    background: #d9d9d9;
    font-size: 0.8333em;
    line-height: 1.8333em;
    white-space: nowrap;
    text-align: center;
    background: #f0715f
}

.button:hover {
    background: #98ce44
}
.select-options{
    max-width: 50px;
    color: crimson;
}

.price {
    color: #7db921;
    font-size: 1.6667em;
    text-transform: uppercase;
    float: right;
    text-align: right;
    line-height: 1;
    display: block
}

.price small {
    display: block;
    color: #838383;
    font-size: 0.5em
}

.price-wrapper {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.8333em;
    color: inherit;
    line-height: 1.3333em;
    margin: 0
}

.price-wrapper .price-per-unit {
    color: #7db921;
    font-size: 1.4em;
    padding-right: 5px
}

.image-carousel.style2 .slides>li {
    margin-right: 30px
}

.image-box .box>.details,
.image-box.box>.details {
    padding: 12px 15px;
}
.list-container{
    overflow: hidden; 
    position: relative
}
.li-row{
    width: 270px; 
    float: left; 
    display: block;
}
.listing-style1.hotel .feedback {
    margin: 5px 0;
    border-top: 1px solid #f5f5f5;
    padding-top: 5px;
    border-bottom: 1px solid #f5f5f5
}

.listing-style1.hotel .feedback .review {
    display: block;
    float: right;
    text-transform: uppercase;
    font-size: 0.8333em;
    color: #9e9e9e
}

.listing-style1.hotel .action .button:last-child {
    float: right
}

.box {
    border: 1px solid #cccccc
}

.fa {
    color: #f0715f
}